#light{
    --bg-color: linear-gradient(hsl(225, 100%, 98%) 25%, hsl(0, 0%, 100%));
    --header-bg-color: hsl(225, 100%, 98%);
    --box-bg-color: hsl(227, 47%, 96%);
    --text-color-1:hsl(230, 17%, 14%);
    --text-color-2:hsl(228, 12%, 44%);
    --toggle-color: hsl(0, 0%, 100%);
    --toggle-bg-color: hsl(230, 22%, 74%);
}

#dark{
    --bg-color: linear-gradient(hsl(232, 19%, 15%) 25%, hsl(230, 17%, 14%));
    --header-bg-color: hsl(232, 19%, 15%);
    --box-bg-color: hsl(228, 28%, 20%);
    --text-color-1: hsl(0, 0%, 100%);
    --text-color-2: hsl(228, 34%, 66%);
    --toggle-color: hsl(230, 17%, 14%);
    --toggle-bg-color: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}


body{
    background: var(--bg-color);
    font-family: 'Inter' sans-serif;
}

.header{
    padding: 25px 35px;
    background-color: var(--header-bg-color);
    
}

.title{
    font-size: 22px;
    color: var(--text-color-1);
    font-weight: 800;
}

.totalF{
    font-size: 13px;
    color: var(--text-color-2);
    font-weight: 600;
}

#dMode{
    font-size: 13px;
    color: var(--text-color-2);
    font-weight: 600;
}

 .col{
    padding: 0 50px; 
} 

.box{
    background-color: var(--box-bg-color);
    padding: 18px 0;
    width: 210px;
}

.box-top{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    text-align: center;
    border-top: 3px solid;
    border-radius: 4px;
}

.username{
    font-size: 11px;
    color: var(--text-color-2);
    font-weight: 700;
}

.number{
    font-size: 45px;
    color: var(--text-color-1);
    font-weight: 700;
}

.followers{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 5px;
    color: var(--text-color-2)
}

.up{
    font-size: 10px;
    color: hsl(163, 72%, 41%)
}

.down{
    font-size: 10px;
    color:hsl(356, 69%, 56%)

}

#facebook{
    border-color: hsl(208, 92%, 53%);
}

#twitter{
    border-color: hsl(203, 89%, 53%);
}

#instagram{
    border-color: hsl(329, 70%, 58%);
}

#youtube{
    border-color: hsl(348, 97%, 39%);
}

.overview{
    padding: 15px 35px;
    font-size: 17px;
    font-weight: 700;
    color: var(--text-color-2);
    letter-spacing: 1px;
    margin: 10px 10px ;
}

.col-12{
    padding: 5px 7px;
    
}

.box-bottom{
    display: flex;
    justify-content: space-around;
    margin: 10px 0; 
    border-radius: 3px;
}

.text{
    font-size: 12px;
    color: var(--text-color-2);
    font-weight: 700;
}

.num{
    font-size: 25px;
    font-weight: 700;
    color: var(--text-color-1);
}

.porcent{
    margin-top: 10px;
    text-align: right;
}

.icon{
    margin-left: 12px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--toggle-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background: var(--toggle-bg-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--toggle-bg-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

@media screen and (max-width: 1024px){
    .col{
        padding-left: 35px;
    }
}

@media screen and (max-width: 991px){
    .header{
        text-align: center;
    }
    .middle{
        text-align: center;
    }
}

@media screen and (max-width: 990px){
    .col{
        padding-left: 75px;
    }
}

@media screen and (max-width: 768px){
    .col{
        padding-left: 70px;
    }
}

@media screen and (max-width: 767px){
    .col{
        padding-left: 170px;
    }
}


@media screen and (max-width: 564px){
    .col{
        padding-left: 160px;
    }
}

@media screen and (max-width: 500px){
    .col{
        padding-left: 140px;
    }
}

@media screen and (max-width: 425px){
    .col{
        padding-left: 106px;
    }
}

@media screen and (max-width: 375px){
    .col{
        padding-left: 85px;
    }
}

@media screen and (max-width: 320px){
    .col{
        padding-left: 55px;
    }
}